* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

header {
  text-align: center;
  /* margin-bottom: 40px; */
}

.logo {
  color: #e60000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.logo span {
  color: #0a35f3;
}

.login-title {
  font-size: 32px;
  font-weight: 900;
  /* margin-bottom: 1rem; */
  color: #333333d2;
}

.phone-number {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  /* margin-bottom: 1rem; */
}

.pin-input-container {
  margin-bottom: 20px;
}
.pin-input-container div {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.pin-input-container input {
  width: 14%;
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  justify-content: center;
  text-align: center;
  border: 2px solid #0a35f3;
}

.pin-input-container div input:focus {
  border: 2px solid #0a35f3;
}

.pin-label {
  color: #3a3838;
  display: block;
  margin-bottom: 18px;
  font-size: 16px;
}

.pin-input {
  width: 100%;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.pin-input:focus {
  /* border-color: #e60000; */
}

.forgot-pin {
  text-align: center;
  /* margin-bottom: 2rem; */
}

.forgot-pin a {
  color: #3a3838;
  text-decoration: none;
  font-size: 16px;
}

.forgot-pin a:hover {
  text-decoration: underline;
}
.footer {
  /* padding-top: 10rem; */
  /* background-color: rgba(7, 67, 245, 0.866); */
  background-color: #0066b3;
  background-color: #0573c7;
}

.curvesec {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  /* background-color: white; */
  position: relative;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.btnContinue {
  position: absolute;
  width: 50%;
  padding: 1rem 0;
  border-radius: 1.2rem;
  border: 2px solid blue;
  top: 1rem;
  font-size: 1.8rem;
  font-weight: 550;
  background-color: #0066b3;
  color: white;
}
.curvesec div {
  width: 49%;
  height: 70px;
  background-color: white;
}

.curvesec :first-child {
  border-bottom-left-radius: 100%;
}
.curvesec :nth-child(2) {
  border-bottom-right-radius: 100%;
}
.help-section {
  margin-top: auto;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 8px;

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.help-text {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.help-button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button {
  background-color: white;
  color: black;
}

.support-button {
  background-color: white;
  color: #333;
}

.support-button:hover {
  background-color: #e0e0e0;
}

.version {
  text-align: center;
  font-size: 12px;
  color: white;
  /* margin-top: 15px; */
}

.terms {
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: 500;
  padding: 10px;
  /* border-top: 1px solid #eee; */
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otpcont {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: fit-content;
  margin: auto;
  margin-top: 50%;
  background-color: whitesmoke;
  padding: 2rem 1rem;
  border-radius: 1rem;
}
.otpcont div {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.otpcont div input {
  width: 14%;
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  justify-content: center;
  text-align: center;
  border: 2px solid #0a35f3;
}
.otpcont div input:focus {
  border: 2px solid #0a35f3;
}

.otpheader {
  display: flex;
  flex-direction: column;
}
.otpheader p {
  font-size: 1.6rem;
}
.otpcta {
  display: flex;
  flex-direction: column;
}

.otpcta p {
  font-size: 1.6rem;
}
.otpcta button {
  width: 90%;
  padding: 1.4rem 0;
  border-radius: 1rem;
  /* background-color: inherit; */
  font-size: 1.6rem;
  font-weight: 550;
  border: 0.4px solid rgba(0, 0, 0, 0.152);
}
.submmit {
  border: none;
  background-color: rgb(14, 14, 253);
  color: white;
}
